  *{
    box-sizing: border-box;
    color:#421934;
    text-decoration: none;
}
body {
    font-family: 'Dela Gothic One', sans-serif;
    margin:0px 25px;
    height:4087px;
    background-color: #F9F5FA;
}
.ScanContent {
    display: flex;
    width: 100%;
    height: auto;
    padding: 8px 0px;
    gap:0px;
    border-bottom:1px solid #221B2029;
    justify-content: space-between;
}
.ScandiPortfolio {
    width: 100%;
    height: auto;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: -0.04em;
    padding:8px 0;
}
.navlink {
    display: flex;
    padding:20px 0;
    font-size: 28px;
    font-weight: bold;
    line-height: 20px;
    transform: scale(1, 0.8);
    gap:25px;
    justify-content: space-between;
}
.container {
    width: 100%;
    height: auto;
    padding: 48px 0px;
    gap: 0px;
    opacity: 0px;
}
.box1 {
    width: 100%;
    height:auto;
    padding: 40px 0px;
    padding-bottom: 100px;
    display: block;
    gap: 48px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
}
.heading {
    text-align: center;
}
.heading h1{
    letter-spacing: -0.02em;
    font-size: 120px;
    font-weight:200;
    line-height: 120px;
    letter-spacing: -0.02em;
}
.mainimg {
    width: 100%;
    border-radius: 20px;
}
.rows {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.divimg {
    width: 390px;
    padding:20px 0;
}
.divimg img{
    width: 100%;
}
.projecttext {
    font-family: 'Sen', sans-serif;
    line-height: 24px;
    font-size: 20px;
}
.abouttext {
    font-family: 'Sen', sans-serif;
    font-weight: lighter;
    font-size: 17px;
    line-height: 24px;
    opacity:0.5;
}
.about{
    padding:100px 250px;
    text-align: center;
}
.about p{
    font-weight:300;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.010em;
}
.textpara {
    display: flex;
    justify-content: center;
}

.spacer {
    width:50%;
    height:154px;
}
.para {
    width:50%;
    font-family: 'Sen', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.landingpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:32px;
    background-image: linear-gradient(45deg,
    rgba(50, 44, 44, 0.75),
    rgba(23, 22, 22, 0.75)), url('footerimage.png');
    height:698px;
    width:100%;
    background-size:1536 698;
    background-position: center; 
    background-repeat: no-repeat;
}
.LetsConnect {
    color:white;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -0.01em;
}
.email {
    width:390px;
    height:55px;
    border-radius: 10px;
    border: none;
}
.inputbox {
    display: flex;
    gap:16px;
}
.inputbox input[type="email"]{
    padding:18px;
    font-size: 20px;
}
.Subscribe {
    height: 55px;
    width:150px;
    background-color: #CD3799;
    color:white;
    border-radius: 6px;
    border:none;
    font-size: 24px;


}
.socialbox{
    display: flex;
    justify-content:space-between;
    gap:40px;
}
.social img{
    width: 40px;
    position: relative;
    height: 40px;
}
.footer {
    padding-top:80px;
    display: flex;
    justify-content: space-between;
    margin:0px 18px;
    font-size:28px ;
    padding-bottom:none;
}
.copyright {
    letter-spacing: -0.01em;
    position: relative;
    opacity: .5;
}
.lastbutton{
    position: relative;
    border-radius: 6px;
    height: 40px;
    width:120px;
    background-color: #F9F5FA;
    font-family: 'DM Mono', monospace;
}
/* Responsive styles */
@media (max-width: 768px) {
    .ScanContent {
        flex-direction: column;
        align-items: center;
    }
    .ScandiPortfolio{
        font-size: 36px;
        display: flex;
        justify-content: center;
    }

    .navlink {
        flex-direction: column;
        align-items: center;
    }

    .navlink a {
        font-size: 24px;
    }

    .heading {
        font-size: 18px;
        line-height: 1.2;
    }

    .abouttext {
        font-size: 36px;
        padding: 50px 20px;
    }

    .textpara {
        flex-direction: column;
        padding: 20px;
    }

    .rows {
        flex-direction: column;
        gap: 20px;
    }

    .divimg {
        width: 100%;
    }
}
